In [20]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import pprint
# Import API key
from api_keys import g_key 

params = {
    "radius": 5000,
    "types": "Hotel",
    "key": g_key
}

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…

In [28]:
#Store Part I results into DataFrame
#Load the csv exported in Part I to a DataFrame

csv_file = pd.read_csv ("new_weather_data.csv")
csv_file

,Unnamed: 0,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05
...,...,...,...,...,...,...,...,...,...,...,...
542,543,543,yabrud,0,SY,1558378840,32,33.97,36.66,80.60,8.05
543,544,544,paraiso,5,MX,1558378898,4,24.01,-104.61,84.20,16.11
544,545,545,veraval,0,FR,1558378898,62,49.65,0.71,61.00,8.05
545,546,546,novyy urgal,100,RU,1558378899,93,51.07,132.56,49.74,2.68
546,547,547,tongren,4,CN,1558378899,64,27.72,109.18,55.86,2.84

In [34]:
#Humidity Heatmap
#Configure gmaps.
# Access maps with unique API key
gmaps.configure(api_key=g_key)
g_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"

#Use the Lat and Lng as locations and Humidity as the weight.
locations= csv_file[['Lat','Lng']]
weight= ['Humidity']
#Add Heatmap layer to map.
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)
# Assign the marker layer to a variable
markers = gmaps.marker_layer(coordinates)
# Add the layer to the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…

In [41]:
## Create new DataFrame fitting weather criteria
#Narrow down the cities to fit weather conditions.
city_weather= csv_file.loc[(csv_file['Wind Speed']<=5)& (csv_file["Cloudiness"] <= 2)&\
                          (csv_file['Max Temp'] >= 66) & (csv_file['Max Temp']<=100)].dropna()
city_weather
# Drop any rows will null values.

,Unnamed: 0,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
87,87,87,ambilobe,2,MG,1558378770,92,-13.19,49.05,74.76,4.52
125,125,125,arraial do cabo,0,BR,1558378491,78,-22.97,-42.02,84.20,4.70
138,139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59
141,142,142,sarai mir,0,IN,1558378781,35,26.02,82.92,86.00,3.36
296,297,297,mogok,0,MM,1558378844,51,22.92,96.51,72.24,2.77
493,494,494,baylo,1,PH,1558378889,69,7.85,126.06,77.00,1.07
524,525,525,mecca,1,SA,1558378872,48,21.43,39.83,88.62,1.74
537,538,538,la seyne-sur-mer,0,FR,1558378897,72,43.10,5.88,69.01,2.24

In [48]:
#Hotel Map
#Store into variable named hotel_df.
hotel_df= city_weather.loc[:,['City','Country', 'Lat', 'Lng']]
#Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"]=''
hotel_df
# Set parameters to search for hotels with 5000 meters.

# Hit the Google Places API for each city's coordinates.
# Store the first Hotel result into the DataFrame.
# Plot markers on top of the heatmap.

                 City Country    Lat     Lng Hotel Name
87           ambilobe      MG -13.19   49.05
125   arraial do cabo      BR -22.97  -42.02
138             vaini      IN  15.34   74.49
141         sarai mir      IN  26.02   82.92
296             mogok      MM  22.92   96.51
493             baylo      PH   7.85  126.06
524             mecca      SA  21.43   39.83
537  la seyne-sur-mer      FR  43.10    5.88

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]